{{> header}}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="css/main.css" rel="stylesheet" />
<script src="js/UserManager.js"></script>

<h1>{{title}}</h1>

<div class="articles">

    {{#banner.title}}
    <section>
        <header class="banner">
            <h2 class="banner-title">{{banner.title}}</h2>
        </header>
        <div class="banner-content">
            {{banner.content}}
        </div>
    </section>
    {{/banner.title}}

    <table class="table">test
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
    </table>

    {{#articles}}
    <section>
        <header class="article-header">
            <h2 class="article-title"><a href="/article/{{slug}}">{{title}}</a></h2>
            <div class="article-meta">By  <strong>{{author.firstName}}</strong>, on <strong>{{addedAt}}</strong></div>
        </header>
        <div class="article-description">
            {{headline}}
        </div>
    </section>
    {{/articles}}
</div>
<button id="show-user">User</button>
<button id="show-order">Orders</button>

<input>
    <h3>Search Order By User </h3>
    <form>
        First Name: <input type="text" name="fName" id="fName"> <br>
        Last Name: <input type="text" name="lName" id="lName"> <br>
        <button id="search-user">Search</button>
    </form>
</div>


<div id="result"></div>
{{> footer}}

<script>
UserManager.init();

</script>